<!DOCTYPE html>
<html>
  <head>
    <title>BlogTest</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%#= stylesheet_link_tag    'ckeditor/plugins/codesnippet/lib/highlight/styles/github' %>
    <%#= javascript_include_tag 'ckeditor/plugins/codesnippet/lib/highlight/highlight.pack' %>

  </head>
  <!-- <script>hljs.initHighlightingOnLoad();</script> -->
  <body>
    <%= yield %>
  </body>
</html>
